html, body {
  background-color: #131313;
}
h1 {
  text-align: center;
  color: #BD0C00;
}
h2 {
  text-align: center;
  color: #850000;
}
p {
  text-align: center;
  color: #AB3032;
}
a {
  color: #850000;
}
