html, body {
  background-color: #131313;
}
h1 {
  font-family: monospace;
  text-align: center;
  color: #BD0C00;
}
h2 {
  font-family: monospace;
  text-align: center;
  color: #850000;
}
p {
  font-family: monospace;
  text-align: center;
  color: #AB3032;
}
div {
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: #BD0C00;
}
a:hover {
  text-decoration: underline;
  color: #850000;
}
